<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>[TOKEN_SITE_TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="templates/default.css" rel="stylesheet" type="text/css">
<script src="templates/default.js"></script>
</head>
<map name="Map">
  <area shape="rect" coords="15,5,95,28" href="[TOKEN_TOPLINK1]" alt="[TOKEN_TOPTEXT1]">
  <area shape="rect" coords="120,5,200,28" href="[TOKEN_TOPLINK2]" alt="[TOKEN_TOPTEXT2]">
  <area shape="rect" coords="220,5,300,28" href="[TOKEN_TOPLINK2]" alt="[TOKEN_TOPTEXT2]">
  <area shape="rect" coords="330,5,410,28" href="[TOKEN_TOPLINK2]" alt="[TOKEN_TOPTEXT2]">
  <area shape="rect" coords="668,6,690,26" href="mailto:emialadress@emial.com" alt="Contact us">
  <area shape="rect" coords="626,7,648,27" href="?page=index" alt="Home">
</map>
<body bgcolor="#D9D9D9" topmargin="0">
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td background="images/stinga.jpg">&nbsp;</td>
    <td width="700"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CAD6DB">
        <tr> 
          <td height="121" background="images/top_1.jpg">
          	<table height="121" border="0" width="100%">
          		<tr>
          			<td align="right" valign="bottom"><div style="color: #CCCCCC; font-size: 10px; padding: 0px 12px 5px 0px">[TOKEN_INDEX_DATE]</div></td>
          		</tr>
          	</table>
          </td>
        </tr>
        <tr> 
          <td height="175" background="images/top_2.jpg"><div align="center"></div></td>
        </tr>
        <tr> 
          <td><table width="700" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><font size="1" face="Arial, Helvetica, sans-serif"><img src="images/menu.jpg" width="700" height="33" border="0" usemap="#Map"></font></td>
              </tr>
              <tr> 
                <td><font size="1" face="Arial, Helvetica, sans-serif">&nbsp; </font></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td><table width="700" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="15">&nbsp;</td>
                <td width="150" valign="top"><font size="1" face="Arial, Helvetica, sans-serif"> 
                  <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr> 
                      <td width="150"> [TOKEN_PAGE_SEARCH] </td>
                    </tr>
                    <tr> 
                      <td height="15"></td>
                    </tr>
                    <tr> 
                      <td>[TOKEN_PAGE_LEFT]</td>
                    </tr>
                  </table>
                  </font></td>
                <td width="15" background="images/vertical_line.gif">&nbsp;</td>
                <td width="340" valign="top"> [TOKEN_PAGE_MIDDLE] </td>
                <td width="15" background="images/vertical_line.gif">&nbsp;</td>
                <td width="150" valign="top"> [TOKEN_PAGE_RIGHT] </td>
                <td width="15">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="50">
<div align="center"></div></td>
        </tr>
        <tr> 
          <td height="37" background="images/bottom.jpg" class="orange"> <div align="left">
<table width="700" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="19">&nbsp;</td>
                  <td style="color: #666666; font-size: 10px">[TOKEN_PAGE_BOTTOM]&nbsp;&nbsp;</td>
                </tr>
              </table>
            </div></td>
        </tr>
      </table></td>
    <td background="images/dreapta.jpg">&nbsp;</td>
  </tr>
</table>
</body>
</html>