#coldspotUL1x1 { position: absolute; left: 0px; top: 0px; }
#coldspotUR1x1 { position: absolute; left: 479px; top: 0px; }
#coldspotBL1x1 { position: absolute; left: 0px; top: 543px; }
#coldspotBR1x1 { position: absolute; left: 479px; top: 543px; }
