#stationP0 { position: absolute; left: -10px; top: 181px; }
#stationP1 { position: absolute; left: -10px; top: 181px; }
#stationP2 { position: absolute; left: -10px; top: 181px; }
#stationP3 { position: absolute; left: -10px; top: 181px; }
#stationP4 { position: absolute; left: -10px; top: 181px; }
#stationP5 { position: absolute; left: -10px; top: 181px; }
#stationP6 { position: absolute; left: -10px; top: 181px; }
#stationP7 { position: absolute; left: -10px; top: 181px; }
#stationP8 { position: absolute; left: -10px; top: 181px; }
#stationP9 { position: absolute; left: -10px; top: 181px; }
#stationP10 { position: absolute; left: -10px; top: 181px; }
#stationP11 { position: absolute; left: -10px; top: 181px; }
#stationP12 { position: absolute; left: -10px; top: 181px; }
#stationP13 { position: absolute; left: -10px; top: 181px; }
#stationP14 { position: absolute; left: -10px; top: 181px; }
#stationP15 { position: absolute; left: -10px; top: 181px; }
#stationP16 { position: absolute; left: -10px; top: 181px; }
#stationP17 { position: absolute; left: -10px; top: 181px; }
#stationP18 { position: absolute; left: -10px; top: 181px; }
#stationP19 { position: absolute; left: -10px; top: 181px; }
#stationP20 { position: absolute; left: -10px; top: 181px; }
#stationP21 { position: absolute; left: -10px; top: 181px; }
#stationP22 { position: absolute; left: -10px; top: 181px; }
#stationP23 { position: absolute; left: -10px; top: 181px; }
#stationP24 { position: absolute; left: -10px; top: 181px; }
#stationP25 { position: absolute; left: -10px; top: 181px; }
#stationP26 { position: absolute; left: -10px; top: 181px; }
#stationP27 { position: absolute; left: -10px; top: 181px; }
#stationP28 { position: absolute; left: -10px; top: 181px; }
#stationP29 { position: absolute; left: -10px; top: 181px; }
