<br />
<table align="left">
	<tr>
		
    <td align="left"><a href="?page=index" target="_blank" class="green">Open 
      the Website</a></td>
	</tr>
	<tr>
		<td align="left"><a href="?page=admin&action=edit&from=[TOKEN_FROM]" class="green">Insert new item</a></td>
	</tr>
	<tr>
		<td align="left"><a href="?page=admin&action=search&from=[TOKEN_FROM]" class="green">Search news</a></td>
	</tr>
	<tr>
		<td align="left"><a href="?page=admin&action=search&showall=1&from=[TOKEN_FROM]" class="green">Display all news</a></td>
	</tr>
</table>
<br />