	<tr>
		<td>
			<span class="green">[TOKEN_NR]. [TOKEN_NEWS_TITLE]</span> <span class="black">([TOKEN_NEWS_PLACE], [TOKEN_NEWS_ORDER])</span>
		</td>
	</tr>
	<tr>
		<td class="grey" colspan="2">
			<a href="?page=admin&action=delete&news_id=[TOKEN_NEWS_ID]&from=[TOKEN_FROM]" style="color: #FF0000" class="grey" OnClick="return confirm('Are you sure you want to delete this news?');">Delete</a> | 
			<a href="?page=admin&action=edit&news_id=[TOKEN_NEWS_ID]&from=[TOKEN_FROM]" style="color: #009900" class="grey">Edit</a> | 
			<a href="?page=admin&action=archive&news_id=[TOKEN_NEWS_ID]&from=[TOKEN_FROM]" style="color: #666666" class="grey">Archive</a>
		</td>
	</tr>
