<br />
<form name="form" method="post" action="">
	<table align="center">
		<tr>
			<td colspan="2" align="center" class="red">[TOKEN_ERROR]</td>
		</tr>
		<tr>
			<td>Username : </td>
			<td><input type="text" name="user" value="[FORM_USER]" /></td>
		</tr>
		<tr>
			<td>Password : </td>
			<td><input type="password" name="pass" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="Login" /></td>
		</tr>
	</table>
	<input type="hidden" name="submit" value="1" />
</form>
<br />