<br />
<table align="left">
	<tr>
		<td><div class="green_big"><a class="green_big" href="?page=admin&action=search&showall=1&place=1&from=[TOKEN_FROM]">Left news</a> : </div></td><td>[TOKEN_NR_NEWS_1]</td>
	</tr>
	<tr>
		<td><div class="green_big"><a class="green_big" href="?page=admin&action=search&showall=1&place=2&from=[TOKEN_FROM]">Middle news</a> : </div></td><td>[TOKEN_NR_NEWS_2]</td>
	</tr>
	<tr>
		<td><div class="green_big"><a class="green_big" href="?page=admin&action=search&showall=1&place=3&from=[TOKEN_FROM]">Right news</a> : </div></td><td>[TOKEN_NR_NEWS_3]</td>
	</tr>
	<tr>
		<td><div class="green_big"><a class="green_big" href="?page=admin&action=search&showall=1&place=4&from=[TOKEN_FROM]">Bottom links</a> : </div></td><td>[TOKEN_NR_NEWS_4]</td>
	</tr>
	<tr>
		<td><div class="green_big"><a class="green_big" href="?page=admin&action=search&showall=1&place=5&from=[TOKEN_FROM]">Top links</a> : </div></td><td>[TOKEN_NR_NEWS_5]</td>
	</tr>
	<tr>
		<td><div class="green_big"><a class="green_big" href="?page=admin&action=search&showall=1&place=6&from=[TOKEN_FROM]">Archived news</a> : </div></td><td>[TOKEN_NR_NEWS_6]</td>
	</tr>
</table>
<br />